:root {
	--toolbar-height: 48px;
	--sidebar-width: 348px;

	--menubar-bg: #292929;
	--sidebar-bg: #303030;

	--divider-color: #444444;

	--button-bg: #464646;
	--button-hover-bg: #595959;
	--button-hover-bg2: #636363;
	--button-shadow: #222222;
	--button-active-shadow: #444444;

	--input-bg: #595959;
	--input-disabled-bg: #434343;
	--input-shadow: #494949;

	--focus-outline: #939393;

	--text-color: #ffffff;
	--icon-filter: invert(1);

	--overlay-bg: rgba(0, 0, 0, 0.8);
	--overlay-border: rgba(255,255,255,0.2);
	--overlay-text-color: #dddddd;

	--warning-bg: rgba(255, 119, 0, 0.26);
}

* {
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
}

html, body {
	padding: 0;
	margin: 0;
	position: relative;
	height: 100%;
	overflow: hidden;
	background-color: black;
	font-family: "Lato", "Segoe UI", sans-serif;
	font-size: 14px;
}

main {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

main > canvas {
	display: block;
}

.hidden {
	display: none !important;
}

h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
	font: inherit;
}

#menubar {
	z-index: 101;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: var(--toolbar-height);
	padding: 0 12px;
	display: flex;
	align-items: center;
	background-color: var(--menubar-bg);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: var(--text-color);
}

#menubar img {
	margin-top: 2px;
	filter: var(--icon-filter);
}

#menubar > * + * {
	margin-left: 6px;
}

#menubar > span {
	height: 24px;
	border-left: 1px solid var(--divider-color);
	margin-left: 24px;
	margin-right: 12px;
}

.sidebar {
	z-index: 100;
	position: absolute;
	top: var(--toolbar-height);
	bottom: 0;
	right: 0;
	padding: 18px 24px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: var(--sidebar-bg);
	color: var(--text-color);
	width: var(--sidebar-width);
	overflow-x: hidden;
	overflow-y: auto;
}

.sidebar > label,
.sidebar > .row {
	display: flex;
	align-items: center;
	position: relative;
	border-radius: 1px;
}

.sidebar > label > span,
.sidebar > .row > span {
	flex-basis: 120px;
	padding-right: 12px;
}

.sidebar > label > span + *,
.sidebar > .row > span + * {
	flex-grow: 1;
}

.sidebar > label > .icon-button,
.sidebar > .row > .icon-button {
	margin-left: 4px;
}

.sidebar > hr {
	margin: 24px 0;
	border: none;
	border-bottom: 1px solid var(--divider-color);
}

.sidebar > * + * {
	margin-top: 12px;
}

.sidebar > .resize-handle {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 12px;
	cursor: ew-resize;
}
.sidebar > .resize-handle + * {
	margin-top: 0;
}

input, button, textarea, select {
	appearance: none;
	display: block;
	width: auto;
	height: auto;
	min-width: 0;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	background: transparent;
	color: inherit;
	font: inherit;
	user-select: auto;
	-webkit-user-select: auto;
}

button, select {
	cursor: pointer;
}

input, textarea {
	cursor: text;
}

#menubar button {
	width: 36px;
	height: 36px;
	border-radius: 1px;
	padding-top: -1px;
	font-size: 20px;
	line-height: 20px;
}

#menubar button.on {
	background: var(--button-bg);
}

#menubar button:focus {
	outline: 1px solid var(--focus-outline);
	outline-offset: 1px;
}

#menubar button:hover {
	background: var(--button-hover-bg);
}

#menubar button.on:hover {
	background: var(--button-hover-bg2);
}

.sidebar button,
.sidebar input,
.sidebar select {
	height: 28px;
	padding: 0 8px;
	border-radius: 1px;
}

.sidebar button,
.sidebar select {
	position: relative;
	background: var(--button-bg);
	box-shadow: 2px 2px 0 0 var(--button-shadow);
}

.sidebar button:focus,
.sidebar select:focus {
	outline: 1px solid var(--focus-outline);
	outline-offset: 1px;
}

.sidebar button:hover,
.sidebar select:hover {
	background: var(--button-hover-bg);
}

.sidebar button:active,
.sidebar select:active {
	top: 1px;
	left: 1px;
	box-shadow: 2px 2px 0 0 var(--button-active-shadow) inset;
}

.sidebar button {
	display: flex;
	align-items: center;
}

.sidebar button > span {
	flex-grow: 1;
	text-align: left;
}

.sidebar button > img {
	filter: var(--icon-filter);
}

.sidebar button.icon-button {
	padding: 2px;
}

.sidebar button.simple {
	background: none;
	border: none;
	box-shadow: none;
}

.sidebar button.simple:hover {
	background: var(--button-bg);
}

.sidebar button.float-right {
	float: right;
	margin-top: -6px;
}

.sidebar select {
	padding-right: 28px;
}

.sidebar .dropdown-arrow {
	position: absolute;
	top: 1px;
	right: 4px;
	pointer-events: none;
	cursor: pointer;
}

.sidebar .dropdown-arrow > img {
	filter: var(--icon-filter);
}

.sidebar select:active + .dropdown-arrow {
	top: 2px;
	right: 3px;
}

.sidebar input {
	background: var(--input-bg);
	box-shadow: 2px 2px 0 0 var(--input-shadow) inset;
}

.sidebar input:focus {
	outline: 1px solid var(--focus-outline);
	outline-offset: 1px;
}

.sidebar input:disabled {
	background: var(--input-disabled-bg);
}

.sidebar h2 {
	margin-bottom: 20px;
	font-size: large;
	font-weight: bold;
	text-align: center;
}

.sidebar h2::before {
	content: '';
	position: relative;
	top: 12px;
	display: block;
	opacity: 0.5;
	border-bottom: 1px solid var(--text-color);
}

.sidebar h2 > span {
	position: relative;
	padding: 0 12px;
	background: var(--sidebar-bg);
}

.sidebar h3 {
	font-weight: bold;
}

.sidebar #smell-list > * + * {
	margin-top: 8px;
}

.sidebar .smell {
	display: flex;
	align-items: center;
}

.sidebar .smell > label {
	flex-grow: 1;
	position: relative;
}

.sidebar .smell > button {
	flex-shrink: 0;
}

.sidebar .smell > * + * {
	margin-left: 4px;
}

#room-too-small {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px 12px;
	border-radius: 100px;
	background-color: var(--warning-bg);
	font-size: small;
}

#room-too-small img {
	width: 16px;
	height: 16px;
	filter: var(--icon-filter);
	margin-right: 6px;
}

#overlay-mode-indicator {
	z-index: 10;
	position: absolute;
	left: 0;
	right: var(--sidebar-width);
	top: var(--toolbar-height);
	padding: 6px;
	background-color: var(--button-bg);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: var(--overlay-text-color);
	text-align: center;
}

#shortcut-guide {
	z-index: 100;
	position: absolute;
	left: 12px;
	bottom: 12px;
	max-width: calc(100vw - var(--sidebar-width) - 24px);
	padding: 12px 18px 14px;
	border: 1px solid var(--overlay-border);
	border-radius: 16px;
	background-color: var(--overlay-bg);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	cursor: default;
	color: var(--overlay-text-color);
}

#shortcut-guide > span {
	display: inline-block;
	cursor: default;
}

#shortcut-guide > span + span {
	margin-left: 18px;
}

#shortcut-guide > .shortcut-header {
	width: 64px;
	font-weight: bold;
}

#mouse-pos {
	z-index: 100;
	position: absolute;
	right: calc(var(--sidebar-width) + 12px);
	bottom: 12px;
	padding: 6px;
	width: 120px;
	border: 1px solid var(--overlay-border);
	border-radius: 100px;
	background-color: var(--overlay-bg);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: var(--overlay-text-color);
	text-align: center;
}
